<h4>Add a book to TIY-<%= @campus.city %>'s library</h4>
<%= bootstrap_form_tag url: book_confirm_path(@campus), method: :get do |f| %>
  <%= f.text_field :isbn, label: "ISBN number (no dashes)" %>
  <%= f.submit %>
<% end %>