<h4>Confirm the book to add to TIY-<%= @campus.city %>'s library</h4>
<%= bootstrap_form_for @book, url: campu_books_path(@campus) do |f| %>
  <button class="btn btn-primary">Confirm</button>
<% end %>
